@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;1,200&family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "karla", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    color: #ffffff;
}

main {
    background-color: #ffffff;
    min-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

section {
    padding: 35px;
}

button {
    background-color: hsl(71, 73%, 54%);
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

p {
    font-size: 16px;
}

.box-one {
    color: black;
    grid-column: 1/3 ;
}

.box-one h2 {
    font-size: 30px;
    color: hsl(179, 62%, 43%);
}

.yellow-text {
    color: hsl(71, 73%, 54%);
}

.box-two {
    background-color: hsl(179, 62%, 43%);
}

.box-three {
    background-color: #4abebd;
}