@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;1,200&family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300;400;500;600;700&display=swap');


section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);
    padding: 100px 30px;
    
}

.container {
    display: grid;
   
    grid-auto-rows: minmax(50px, auto);
    
}

.box-one  {
    background-color: #ffffff;
}

.box-two {
    background-color: hsl(179, 62%, 43%);
}

.box-three {
    background-color: #4abebd;
}